{% extends "base.html" %}

{% block custom %}
<link rel="stylesheet" href="{{ get_url(path='home.css') }}">
<link rel="stylesheet" href="{{ get_url(path='_footer.css') }}">

<div class="home-container">
    <!-- Colonne gauche -->
    <div class="home-left">
        <img src="/images/profile.png" alt="Photo de profil" class="profile-pic">

        <h1 class="Title">{{ section.extra.name }}</h1>
        <p class="job-title">{{ section.extra.job }}</p>
        {% if section.extra.company %}
        <p class="company">{{ section.extra.company }}</p>
        {% endif %}


        {% if section.extra.socials %}
        <ul id="socials">
            {% for link in section.extra.socials %}
            <li>
                <a href="{{ link.url | safe }}" title="{{ link.name }}">
                    <i class="icon"
                    style='--icon: url("data:image/svg+xml,{{ link.icon}}")'></i>
                    <span>{{ link.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <!-- Colonne droite -->
    <div class="home-right">
        <h2 class="about">About me</h2>
        <p>I am a currently a Research Intern at <a href="https://www.ubisoft.com/en-us/studio/laforge">Ubisoft LaForge</a>, Montreal,
         where I work on real-time simulation technologies for games as a member of the World Building And Rendering Team.
         My work focuses on exploring new methods to improve fluid simulation systems for games.<br/>
         <br/>I am currently undergoing a Master's degree in computer science, specializing in computer graphics at
         UdeM, Under the supervision of <a href="https://www.iro.umontreal.ca/~poulin/">Prof. Pierre Poulin</a>.

         {% if section.extra.interests %}
            <div class="interests">
                <h2>Interests</h2>
                <ul>
                    {% for interest in section.extra.interests %}
                    <li>{{ interest }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>
{% endblock custom %}